
@font-face {
    font-family: 'minimobold_oblique';
    src: url('minimo_bold_oblique-webfont.woff2') format('woff2'),
         url('minimo_bold_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minimobold';
    src: url('minimo_bold-webfont.woff2') format('woff2'),
         url('minimo_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minimolight_oblique';
    src: url('minimo_light_oblique-webfont.woff2') format('woff2'),
         url('minimo_light_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minimolight';
    src: url('minimo_light-webfont.woff2') format('woff2'),
         url('minimo_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minimomedium_oblique';
    src: url('minimo_medium_oblique-webfont.woff2') format('woff2'),
         url('minimo_medium_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minimomedium';
    src: url('minimo_medium-webfont.woff2') format('woff2'),
         url('minimo_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minimoregular_oblique';
    src: url('minimo_oblique-webfont.woff2') format('woff2'),
         url('minimo_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minimo_regularregular';
    src: url('minimo-webfont.woff2') format('woff2'),
         url('minimo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.woff2') format('woff2'),
    url('opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('opensans-bolditalic-webfont.woff2') format('woff2'),
    url('opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('opensans-condbold-webfont.woff2') format('woff2'),
    url('opensans-condbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.woff2') format('woff2'),
    url('opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.woff2') format('woff2'),
    url('opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'),
    url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('opensans-lightitalic-webfont.woff2') format('woff2'),
    url('opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont-webfont.woff2') format('woff2'),
    url('opensans-light-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
    url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.woff2') format('woff2'),
    url('opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt_serifbold';
    src: url('pt_serif-web-bold-webfont.woff2') format('woff2'),
    url('pt_serif-web-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('pt_serif-web-bolditalic-webfont.woff2') format('woff2'),
    url('pt_serif-web-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifitalic';
    src: url('pt_serif-web-italic-webfont.woff2') format('woff2'),
    url('pt_serif-web-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifregular';
    src: url('pt_serif-web-regular-webfont.woff2') format('woff2'),
    url('pt_serif-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}