@font-face {
    font-family: 'les';
    src:  url('../fonts/les.eot?pmn13o');
    src:  url('../fonts/les.eot?pmn13o#iefix') format('embedded-opentype'),
    url('../fonts/les.ttf?pmn13o') format('truetype'),
    url('../fonts/les.woff?pmn13o') format('woff'),
    url('../fonts/les.svg?pmn13o#les') format('svg');
    font-weight: normal;
    font-style: normal;
}

.les {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'les' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.les-phone-buble .path1:before {
    content: "\e904";
    color: rgb(255, 255, 255);
}
.les-phone-buble .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(99, 204, 202);
}
.les-next-buble:before {
    content: "\e906";
    color: #fff;
}
.les-map:before {
    content: "\e907";
    color: #fff;
}
.les-map-green:before {
    content: "\e909";
    color: #63ccca;
}
.les-map-green-rectangle .path1:before {
    content: "\e90a";
    color: rgb(99, 204, 202);
}
.les-map-green-rectangle .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-map-green-rectangle .path3:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-fb-green .path1:before {
    content: "\e90d";
    color: rgb(99, 204, 202);
}
.les-fb-green .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(67, 73, 85);
}
.les-twt-green .path1:before {
    content: "\e90f";
    color: rgb(99, 204, 202);
}
.les-twt-green .path2:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(67, 73, 85);
}
.les-fb:before {
    content: "\e911";
    color: #434955;
}
.les-twt:before {
    content: "\e912";
    color: #434955;
}
.les-phone-green-rectangle .path1:before {
    content: "\e913";
    color: rgb(99, 204, 202);
}
.les-phone-green-rectangle .path2:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-map-green-rectangle1 .path1:before {
    content: "\e915";
    color: rgb(99, 204, 202);
}
.les-map-green-rectangle1 .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-map-green-rectangle1 .path3:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-agenda-green-rectangle .path1:before {
    content: "\e919";
    color: rgb(99, 204, 202);
}
.les-agenda-green-rectangle .path2:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-agenda-green-rectangle .path3:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-agenda-green-rectangle .path4:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-agenda-green-rectangle .path5:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-agenda-green-rectangle .path6:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.les-calendar:before {
    content: "\e91f";
    color: #434955;
}
