/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

// keep a max width in case it is just the form and nothing else
// we do not want a form spanning whole page
.wpcf7 {
  max-width: 600px;
  margin: 0 auto !important;

  // all inputs except radios and checkboxes inherit from form-control
  input[type=text],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=range],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=color],
  input[type=email],
  input[type=file],
  input[type=submit],
  select,
  textarea {
    @extend .form-control;
  }

  // submit button, inherit .btn and .btn-outline-primary classes.
  input[type=submit] {
    @extend .btn;
    @extend .btn-outline-primary;
  }

  .wpcf7-form {

    // set paragraphs to behave like divs with class .form-group
    p {
      @extend .form-group;
    }

    // let labels be 100%
    label {
      width: 100%;
    }
  }

  // not valid tip for each control
  .wpcf7-not-valid-tip {
    color: theme-color("danger");
  }

  // validation errors ourput bottom of form
  .wpcf7-validation-errors {
    @extend .form-control;
    color: theme-color("danger");
    border: 1px solid $gray-200;
  }

  // ----------------- buttons --------------------//

  .btn-blue{
    //position: relative;
    //top: 2vh;
    color: #fff !important;
    background-color: #63ccca !important;
    padding: 1px 1vw !important;
    border: none !important;
    border-radius: 10px !important;
    // width: 7vw;
    height: 2vw !important;
    width: 180px !important;

    min-height: 40px !important;
    margin-top: 20px !important;
  }

  .btn-gray{
    //position: relative;
    //top: 2vh;
    color: #fff;
    background-color: $gray !important;
    padding: 1px 1vw;
    border: none;
    border-radius: 10px;
    // width: 7vw;
    height: 2vw;
    min-width: 100px;
    min-height: 40px;
  }

  .grey-overlay{

    background: linear-gradient( rgba(67, 73, 85, .9), rgba(67, 73, 85, .9)), url("/wp-content/uploads/2018/09/Mask-Group-11.png") no-repeat center center;
    background-size: cover;
  }
}

.chomedy-form{
  input[type=text],
  input[type=email]{
    border-radius: 0 !important;
    //width: 355px !important;
  }
  textarea{
    height: 162px !important;
  }
}

.chomedy-wrapper{
  .wpcf7{
    width: 70% !important;
    max-width: 100% !important;
  }
}

.form-entreprise{
  padding: 2% 5%;
  input[type=text],
  input[type=email],
  select,
  input[type=date]{
    width: 100%; // !important
    background: rgba(99, 204, 202, .2) !important;
    border:none;
    font-family: open_sansregular;
    font-size: 13px;

  }

  .row{
    span{
      width: 50% !important;
    }
  }
}

.inl-inputs{
  margin-bottom: 8% !important;
  margin-left: 0 !important;
  display: flex;
  width: 100%;
  select{
    width: 99% !important;
  }
  input{
    width: 45% !important;
    margin-left: 5%;
  }
  .date{
    display: contents;
  }
}

.form-entreprise input[type=date] {
  background: url(/wp-content/uploads/2018/10/Symbole-date.png) 90% no-repeat !important;
  background-color: rgba(99,204,202,.2)!important;
  font-size: 11px;
}
.wpcf7 input[type=submit]{
background: #63ccca;
border-radius: 10px;
border: .2px solid #63ccca;
max-width: 50%;
             float: left;
font-family: open_sansregular;
font-size: 16px;
color: #fff;
}
.form-urgence select{
  width: 75%;
  padding: 8px 10px;
  min-height: 40px;
  color: #434955;
  font-family: open_sansregular;
  font-size: 16px;
}
.contact {
  p {
    text-align: center;
    /*margin: 0 auto;*/
  }
  input[type=submit]{
    float: initial;
  }
}


