//---------------- FOOTER ------------------//

#wrapper-footer{
  color: rgba(255,255,255,.7);
  background: #434955;
  width: 101vw;
  min-height: 20vh;
  left: 21%;
  padding-bottom: 60px;
  padding-top: 60px;
  .container-fluid{
    margin-left: 0px;
    .img-fluid{
      margin-bottom: 35px;
    }

    i{
      background: $blue;
      font-size: 30px;
      width: 45px;
      padding: 8px 0;
      text-align: center;
      margin-right: 10px;
      color: #fff;
    }

    .f1{
      p{

        font-family:open_sansregular;
        font-size: 13px;
        color: rgba(255,255,255,.7);
      }
      }

      .f2{
        p.head{
          font-family: open_sansbold;
          font-size: 14px;
          color: rgba(255,255,255,.7) !important;
        }
        .body{
          font-family:open_sansregular;
          font-size: 13px;
          color: rgba(255,255,255,.7);
          text-align: left;
          padding-right: 30%;
        }
      }
    .f3{
      p.head{
        font-family: open_sansbold;
        font-size: 14px;
        color: rgba(255,255,255,.7) !important;
      }
      .body{
        font-family:open_sansregular;
        font-size: 13px;
        color: rgba(255,255,255,.7);
        text-align: left;
      }
    }

  }
    hr {
      border-top: 1px solid rgba(255,255,255,.7);
    }
  .menu-footer{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    a{
      color: rgba(255,255,255,.7);
      font-size: 13px;
      font-family:open_sansregular;
      &:hover{
        text-decoration: none;
        color: #63ccca;
        font-weight: 600;
      }
    }
  }
}
