
//------------NAVIGATION-------------//

@media (max-width: 776px) {
  .hide-mobile{
    display: none !important;
  }
  #searchform{
    display: none;
  }
  .nav-container {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    .nav-side-menu{
      height: auto;
      .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: $blue;

        width: 40px;
        text-align: center;
        color: #fff;
      }
      .sidebar-menu li > a > .fa-angle-left{
        margin-right: 10%;
        margin-top: 2%;
      }
    }
  }

}

@media (max-width: 776px) {

  body{
        //-globals
        h1{
          font-size: 25px;
        }
        h2,h3{
          font-size: 20px !important;
        }
        p{
          font-size: 14px;
        }
        //-globals end
    #index-wrapper{
      left: 0;
    }

    .carousel{
      height: 50vh;
      margin: 0 -25px !important;
      .carousel-inner{
        .carousel-item{
          height: auto;
        }
      }
      #caption-slider{
        padding: 2% 2%;
       // height: auto;
        bottom: -74%;
        h1{
          font-size: 25px;
        }
        h3{
          font-size: 20px;
        }
      }
      #caption-slider-top{
        display: none;
      }

    }

    // CNTC
    .cntc-wrapper{
      position:relative ;
      top: 0;
      max-width: 100%;
      margin: 0 2%;
     // bottom: -35px;
      border: 7px #fff solid;
    }

    #wrapper-footer{
      left: 0;
    }
    .slidermobilep{
      max-width: 40% !important;
      font-size: 48px !important;
    }
    .carousel .carousel-inner .carousel-item .model{
      max-width: 60% !important;
      top:0 !important;
    }
    .vc_column_container>.vc_column-inner{
      padding-left: 35px !important;
      padding-right: 35px !important;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      margin: 0 !important;
      .vc_column-inner{
        padding: 0 !important;
      }
      .side-image.fullwidthimg {
        padding-left: -35px !important;
        padding-right: -35px !important;
        padding-top: -20px !important;
        padding-bottom: -20px !important;
          margin: 0 !important;
      }
    }
    .vc_row{
      padding-left:0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
    }
    .wpb_text_column{
      padding:20px 0 !important;
      margin: 0 !important;
    }

  }


  .side-image{
    .vc_column-inner{
      padding: 20% 20% !important;
    }

  }


  /// SOIND----------//
  .soind .soind-c .content button {
    left: calc(245vw / 7.66);
  }

  .content-cntc{
    max-width: 100% !important;
    padding: 2vw;
    width:100% !important;
    .vc_custom_1538482628685 {
      padding-left: 10px !important;
    }
    h3,p{
      padding-left: 15px;
    }
  }

  .recent_posts{
    .recent_post{
      margin-bottom: 115px;
    }
  }

  .ibt {
    display: block;
  }

  .wpb_text_column{
   // padding-left: 20px !important;
  }

  .chomedy-form input[type="email"], .chomedy-form input[type="text"] {

    border-radius: 0 !important;
    width: 70vw !important;

  }

  .chomedy-wrapper .wpcf7 {

    width: 100% !important;
    max-width: 100% !important;

  }

  .chomedy-form textarea {

    height: 162px !important;
    margin-top: 11%;

  }
  .cntc-wrapper-2 {
    position: inherit;
    max-width: 100%;
    margin-top: 2%;
  }
  .width80,.width20{
    width:100%;
    max-width: 100%;
    overflow: hidden;
    .nav-side-menu {
      padding-right: 25px !important;
      padding-left: 25px !important;
      margin:0 -15px !important;
      .brand{
        text-align: center;
      }
      .navbar-brand{
        margin-right: 0;
      }
    }
  }
  .width20{
    padding-left:0 !important;
  }
  .btn-blue, .btn-gray{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
    margin-bottom: 15px;
  }
  .content-soind{
    height: auto !important;
  }
  .soind .soind-c .content p{
    padding:0 15px 22px;
  }
}