// ----------------- NAV -------------------//

.nav-container{
  height: 100%;
  padding: 0 0 0 0;
  background: $gray;
  overflow: hidden;
}

.nav-side-menu {
  overflow-y: scroll;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;

  //position: fixed;
  height: 99%;
  width: 108%;
  //height: 100%;
  color: #e1ffff;

  .menu-list{
    padding-left: 1%;
  }
}
.nav-side-menu .brand {
  //background-color: #23282e;
  line-height: 50px;
  display: block;
  font-size: 14px;
  margin-top: 10%;
  padding-bottom: 10%;
  img{
    width: 90% !important;
  }

}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul {
  width: 100%;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  margin-left:0 ;
  padding-right: 3%;


  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  //padding-right: 10px;
  vertical-align: middle;
  float: right;
}

ul.menu-open > li.active {
  background-color: rgba(255, 255, 255,0.08);
    a{
      border-right: 5px solid #63CCCA;
    }
  //background-color: #4f5b69;
}
.menu-item:hover{
  //border-right: 3px solid #63CCCA;
  //background:rgba(99, 204, 202,0.2);
}
.nav-side-menu ul li .sub-menu{
  padding-left: 5%;
  padding-right: 0px;
  li{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;

  }

  li:hover{
    border-bottom: 0.5px solid #63ccca !important;
    border-top: 0.5px solid #63ccca !important;
  }
  li:last-child{
    border-bottom: none;
  }
  li:first-child{
    border-top: 1px solid rgba(255,255,255,0.2);
  }
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
  border-right: 5px solid #63CCCA;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: $gray;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-left: 5%;
  margin-right: 0 !important;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  // background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  //content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0;
  //border-left: 3px solid #2e353d;
  //border-bottom: 1px solid rgba(255,255,255,0.2);

}

.nav-side-menu li:last-child{
  border-bottom: none;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.nav-side-menu li a:hover {
  text-decoration: none;
  color: #63CCCA;
  border-right: 5px solid #63CCCA;
  background-color: rgba(255,255,255,0.08);
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {

  //background-color: #4f5b69;

  // -webkit-transition: all 1s ease;
  //-moz-transition: all 1s ease;
  //-o-transition: all 1s ease;
  //-ms-transition: all 1s ease;
  //transition: all 1s ease;
}
.nav-side-menu li:active {

  //background-color: #4f5b69;

  // -webkit-transition: all 1s ease;
  //-moz-transition: all 1s ease;
  //-o-transition: all 1s ease;
  //-ms-transition: all 1s ease;
  //transition: all 1s ease;
}
/*
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

*/

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.animate-menu-push {
  left: 0;
  position: relative;
  transition: all 0.3s ease; }
.animate-menu-push.animate-menu-push-right {
  left: 200px; }
.animate-menu-push.animate-menu-push-left {
  left: -200px; }

.animate-menu {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  transition: all 0.3s ease; }

.animate-menu-left {
  left: -200px; }
.animate-menu-left.animate-menu-open {
  left: 0; }

.animate-menu-right {
  right: -200px; }
.animate-menu-right.animate-menu-open {
  right: 0; }

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  //background-color: #222d32;
  }
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0; }
.sidebar-menu > li > a {
  padding: 18px 5px 12px 0px;
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.2);
  font-family: minimo_regularregular;
  font-size: 14px;
  text-transform: uppercase;
 // border-left: 3px solid transparent;

  //------------to delete-------------//
 // margin-right: 30px;
  //---------- end delete-----------------//
  color: #f9f9f9; }
.sidebar-menu > li > a > .fa {
  width: 20px; }
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
  color: $blue;
  font-family: minimobold;
  background: rgba(255,255,255,0.08);
  //background: #1e282c;
 // border-left-color: #3c8dbc;
  }
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
  margin-top: 3px;
  margin-right: 5px; }
.sidebar-menu li.sidebar-header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
  //color: #4b646f;
//  background: #1a2226;
}
.sidebar-menu li > a > .fa-angle-right {
  width: auto;
  height: auto;
  padding: 0 10px 10px 10px;
  /*margin-right: 10px;*/
}
.sidebar-menu li.active > a > .fa-angle-right {
  transform: rotate(90deg);
  padding: 10px 10px 0 10px;
}
.sidebar-menu li.active > .sidebar-submenu {
  display: block; }
.sidebar-menu a {
  color: #b8c7ce;
  text-decoration: none; }
.sidebar-menu .sidebar-submenu {
  display: none;
  list-style: none;
  padding-left: 5px;
  margin: 0 1px;
  //background: #2c3b41;
}
.sidebar-menu .sidebar-submenu .sidebar-submenu {
  padding-left: 20px; }
.sidebar-menu .sidebar-submenu > li > a {
  padding: 12px 5px 8px 10px;
  display: block;
  font-family: minimo_regularregular;
  font-size: 14px;
  text-transform: uppercase;
 // color: #8aa4af;
}
.sidebar-menu .sidebar-submenu > li > a > .fa {
  width: 20px; }
.sidebar-menu .sidebar-submenu > li > a > .fa-angle-right,
.sidebar-menu .sidebar-submenu > li > a > .fa-angle-down {
  width: auto; }
.sidebar-menu .sidebar-submenu > li.active > a, .sidebar-menu .sidebar-submenu > li > a:hover {
  color: $blue;
  font-family: minimobold;
  background: rgba(255,255,255,0.08);
}

.sidebar-menu-rtl {
  list-style: none;
  margin: 0;
  padding: 0;
 // background-color: #222d32;
}
.sidebar-menu-rtl > li {
  position: relative;
  margin: 0;
  padding: 0; }
.sidebar-menu-rtl > li > a {
  padding: 12px 15px 12px 5px;
  display: block;
  border-left: 3px solid transparent;
  color: #b8c7ce; }
.sidebar-menu-rtl > li > a > .fa {
  width: 20px; }
.sidebar-menu-rtl > li:hover > a, .sidebar-menu-rtl > li.active > a {
  color: #fff;
  //background: #1e282c;
 // border-left-color: #3c8dbc;
}
.sidebar-menu-rtl > li .label,
.sidebar-menu-rtl > li .badge {
  margin-top: 3px;
  margin-right: 5px; }
.sidebar-menu-rtl li.sidebar-header {
  padding: 10px 15px 10px 25px;
  font-size: 12px;
 // color: #4b646f;
 // background: #1a2226;
}
.sidebar-menu-rtl li > a > .fa-angle-right {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px; }
.sidebar-menu-rtl li.active > a > .fa-angle-right {
  transform: rotate(90deg); }
.sidebar-menu-rtl li.active > .sidebar-submenu {
  display: block; }
.sidebar-menu-rtl a {
  //color: #b8c7ce;
  text-decoration: none; }
.sidebar-menu-rtl .sidebar-submenu {
  display: none;
  list-style: none;
  padding-right: 5px;
  margin: 0 1px;
 // background: #2c3b41;
}
.sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
  padding-right: 20px; }
.sidebar-menu-rtl .sidebar-submenu > li > a {
  padding: 5px 15px 5px 5px;
  display: block;
  font-size: 14px;
  //color: #8aa4af;
}
.sidebar-menu-rtl .sidebar-submenu > li > a > .fa {
  width: 20px; }
.sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-right,
.sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-down {
  width: auto; }
.sidebar-menu-rtl .sidebar-submenu > li.active > a, .sidebar-menu-rtl .sidebar-submenu > li > a:hover {
  color: #fff; }
.menu_tel{
  display: flex;

  flex-wrap: wrap;

  flex-direction: row;

  justify-content: center;


  padding-top: 67px !important;
  float: left;
  img{
    float: left;
    clear:left;
    width: 52px;
    height: 52px;

  }
  p{
    float: right;
    padding-left: 10px;
    font-family: open_sansregular;
    font-size: 14px;
    color: #fff;
  }
}
.menu_rs{
  p{
    font-family: open_sansregular;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    margin: 0;
  }
}
.paginationBlog{
  padding:20px 5px;
  a{
    color: #434955;
    text-decoration: none;
  }
  .next{
    float: right;
    &:after{
      content:'';
      background: url(/wp-content/uploads/2018/11/next.png) no-repeat right;
      padding: 10px 20px 12px 24px;
    }
  }
  .prec{
    float: left;
    padding-left: 10px;
    &:before {
      content: '';
      background: url(/wp-content/uploads/2018/11/prev.png) no-repeat;
      padding: 6px 24px 12px 20px;
    }
  }
}