//---------------- SLIDER ------------------//

.carousel{
  /*height: 100vh;*/
  .carousel-inner{
    /*height: 100vh;*/
    max-height:640px;
    padding-bottom: 0px;
    overflow: visible;
    .carousel-item{
      z-index: 1;
      /*height: 100vh;*/
      .model{
        max-width: 65%;
        margin-top: -8%;
        max-height:1160px;
      }
    }
  }
  .carousel-control-prev, .carousel-control-next{
    z-index: 2;
    width: 5%;
  }
  .carousel-control-next-icon{
    color: #63ccca;
    background-image: url(http://sourire.virus-sante-communication.ca/wp-content/uploads/2018/10/arrow-right.png);
    padding-right: 20px;
    width:16px;
    height: 31px;
  }
  .carousel-control-prev-icon{
    background-image: url(http://sourire.virus-sante-communication.ca/wp-content/uploads/2018/10/arrow-left.png);
    padding-left: 20px;
    width:16px;
    height: 31px;
  }
  #caption-slider{

    top: 0px;

    position: absolute;

    display: flex;



    flex-direction: column;

    justify-content: center;

    height: 100%;

    margin-left: 6%;
    margin-bottom: 4vh;
    h3{
      color: #63ccca;
      font-family: minimolight;
      font-size: 35px;
    }

    h1{
      color: #434955;
      font-family: minimolight;
      font-size: 60px;
      line-height: 0.8;
    }
  }

  #caption-slider-top{

    top: 5%;

    position: absolute;
    padding-right: 0%;
    display: flex;

    background: $gray;
    padding: 10px 10px;

    flex-direction: inherit;
    justify-content: end;
    float: right;
    width: 200px;
    //width: 100%;
    height: auto;
    right: 0;
    z-index: 2;
    //margin-left: 90%;
    img{
      width: 60px;
      height: 60px;
    }
    div{
      background: $gray;
      padding-right:3%;
      padding-left:1%;
      color: #fff;
      font-family: open_sanssemibold;
      font-size: 14px;
    }
    i{
      color: #fff;
      background: $gray;
      font-size: 5rem;
      padding-left: 1%;
      vertical-align: center;
    }

  }
}