// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body{
  min-height: 100vh;
  //background-color: #434955;
  ul{
    padding-left: 20px;
  }
overflow-x:hidden ;
  .themetextcolor{
    color:#434955 !important;
  }
  a{
    cursor: pointer;
  }
  .fontsize18boldopen{
    font-family: open_sansregular;
    font-size: 16px;
    font-weight: bold;
  }
  .fontsize22boldopen{
    font-family: open_sansregular;
    font-size: 22px;
    font-weight: bold;
  }
  .blue-list{
    padding-left: 20px;
    list-style: none ;
    li::before {
      content: "\2022";
      color: #63ccca;
      font-weight: 900;
      display: list-item;
      width: 20px;
      margin-left: -20px;
      height: 0;
      font-size: 22px;
      line-height: 1.2;
    }
    li{
      color: #434955;
      font-family: open_sansregular;
      font-size: 16px;
      i{
        display: none;
      }
    }

  }

  h1,h2, h3{
    font-family:minimolight;
    font-size: 33px;
   // margin-bottom: 40px !important;
  }

  p{
    font-family: open_sansregular;
    font-size: 16px;
    color: #434955;

  }
}
.site{
  min-height: 100vh;
}

//------------ search form ------------------//
#searchform{
  .assistive-text{
    display: none;
  }
  #searchsubmit{
    border: none;
    background-color: transparent;
    content: " ";
    background-image:url(/wp-content/uploads/2018/10/Groupe-155.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    position: relative;
    left: -4.2vw;
    top: 5px;
  }
  #s{
    margin-right: 10%;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 250px;
  }
}
//------------------PAGE -------------------//
.site{
  .row{
    padding: 0 0 0 0;

    margin: 0px 0px 0px 0px;

    max-width: 100%;
  }
}

#index-wrapper, #article-wrapper{
  padding-bottom: 0px;
  padding-top: 0px;
  left: 21%;
  /*padding-right: 1%;*/
  min-height: 81vh;
}
#article-wrapper, #article-wrapper .vc_column_container>.vc_column-inner {
  padding: 0;
  margin:0;
}

//----------------- contact form ---------------//

  .cntc-wrapper{
    z-index: 2;

    position: absolute;

    top: -82px;

    background: #fff;

    margin-left: 11%;
    max-width: 65%;

    .cntc-header{
      background:#63ccca;
      padding: 20px;
      color: #fff;
      font-family:minimolight;
      font-size: 28px;

    }
    .cntc-body{
      padding: 4% 4% 7% 4%;
      input{
        background:rgba(99, 204, 202,0.2);
        color: #000;
        :focus{
          -webkit-box-shadow: 0 0 0 #000 !important;

          box-shadow: 0 0 0 #000 !important;
          border: none;
        }
      }
      .wpcf7-submit{
        background:#63ccca ;
        border-radius: 10px;
        border: 0.2px solid #63ccca ;
        max-width: 50%;
        float: left;
        font-family: open_sansregular;
        font-size: 16px;
        color: #fff;
      }
    }
  }

//----------------- contact form 2 ---------------//

 .cntc-wrapper-2{
   z-index: 2;

   position: absolute;

   top: 0;

   background: #fff;

   //margin-left: 60%;
   right: 100px;
   max-width: 28%;

   .cntc-header{
     background:#63ccca;
     padding: 4%;
     color: #fff;
     font-family:minimolight;
     font-size: 28px;

   }
   .cntc-body{
     padding: 4% 10%;
     input{
       background:rgba(99, 204, 202,0.2);
       color: #000;
       :focus{
         -webkit-box-shadow: 0 0 0 #000 !important;

         box-shadow: 0 0 0 #000 !important;
         border: none;
       }
     }
     .wpcf7-submit{
       background:#63ccca ;
       border-radius: 10px;
       border: 0.2px solid #63ccca ;
       max-width: 50%;
       float: left;
       font-family: open_sansregular;
       font-size: 16px;
       color: #fff;
     }
   }
    hr{
      border-top: 4px solid rgba(0,0,0,.1);
    }
   .cntc-body-2{
     padding: 5% 10%;
     margin-top: 10px;
     background: #fff;
     td{
       width: 50%;
     }

     .c100{
       width: 100%;
     }

   }
 }
// ---------- HELPERS ----------------- //

.c-blue{
  color: $blue !important;
}
.gray{
  color: $gray;
}

.px-25{
  padding-left: 25%;
  padding-right: 25%;
}

.px-30{
  padding-left: 30%;
  padding-right: 30%;
}

.block-cntc{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 75vh !important;
}

.content-cntc{
  max-width: 35vw;
  padding: 2vw;
}

.block-blog{
  padding: 2vh;
  p{
    margin: auto;
    max-width: 50vw;
  }
}

.block-philo{

  .wpb_wrapper{
    padding: 0.5vw;
  }
}

.block-full-width{
  h3{
    /*margin-left: 2vw;*/

  }
  table{
    margin-left: 2vw;
    color: white;
    td{
      //padding-right: 5vw;
    }
  }

  hr{
    height: 0px;
    margin-right: -6%;
    width: 115%;
    margin-left: -6%;
    border-top: 1px white solid;


  }

  .vc_column-inner{

  }

  p{
    margin-left: 2vw;
  }

}
.blue-border-r{

  /*
  :after{
    position: absolute;
    content: "";
    top:100%;
    left: 100%;
    width: 50%;
    //border-right: 2px $blue solid;
    border-bottom: 2px $blue solid;
  }
  :before{
    position: absolute;
    content: "";
    top:100%;
    left: 85%;
    width: 150px;
    //border-right: 2px $blue solid;
    border-bottom: 2px $blue solid;
  }
  */
  border-right: 2px $blue solid;
  border-bottom: 2px $blue solid;
}
.blue-border-l{
  //border-left: 2px $blue solid;
  //  border-top: 2px $blue solid;
}

.blue-bg{
  background-color: #63CCCA;
}
.gray-bg{
  background-color: $gray;
}

.c-white{
  color: #fff;
  padding-top: 5px;

}
// ---------------------soin dentaire block----------------//

.soind{
  display: flex;

  flex-wrap: wrap;

  justify-content: center;
  margin-bottom: 50px;
  .soind-c{
    max-width: 400px;
    position: relative;
    border: 1px #aaaaaa solid;
    max-width: 400px;
    .image{
      img{
        width: 400px;
      }

    }
    .content{

      .header{
        color: #63ccca;
        font-size: 1.4vw;
        padding-top: .5vw;
      }
      p{
        //max-width: 200px;
        //padding-left: 6vw;
        //padding-right: 6vw;
        padding: 0 15px;
        font-size: 16px;
      }
      button{
        position: absolute;
        cursor: pointer;
        right: 6vw;

        bottom: -4%;
        //top: 2vh;
        color: #fff;
        background-color: #63ccca;
        padding: 1px 1vw;
        border: none;
        border-radius: 15px;
        width: 7vw;
        height: 2vw;
        min-width: 100px;

        min-height: 40px;
      }
    }
  }

}

// ------------------------- Image titile bottom---------//

.ibt-container{
  .wpb_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.ibt{
  display: inline-block;
  a{
    text-decoration: none;
  }
  h3{
    background: $blue;
    font-family: open_sansregular;
    padding: 20px 12px;
    color: white;
    font-size: 24px;
    border-right: 1px solid #fff;

  }
  img{
    //min-height: 250px;
    border-right: 1px solid #fff;
  }
}
.page-child .ibt h3{
  font-size: 20px;
}
.ibt-full-w{
  .vc_column_container > .vc_column-inner{
    padding:0;
    margin: 0;
  }
  .ibt{
    width: 100%;
  }
  img{
    width: 100%;
    height: auto;
  }
}

//-------------------------- image title bottom with paragraph------------------//
.ibtp-container{
  .wpb_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.ibtp{
  display: inline-block;
  h3{
    background: $blue;
    padding: 10px 10px;
    padding-top: 15px;
    color: white;
    font-size: 18px;
    font-family: open_sansregular;

  }
  img{
    /*min-height: 250px;*/
    width: 100%;
  }
  p{
    text-align: left;
    margin-top: 30px;
  }
}
//--------------- recent posts---------------------//
.recent_posts{
  margin-top: 40px;
}
.recent_post_content{
  background-size: cover !important;
  background-position: center center;
  min-height: 17vw;
  position: relative;
  padding: 0;

  .recent_post_content-footer{
    background: $blue;
    left:0;
    width:100%;
    height: 97px;
    bottom: -97px;
    position: absolute;
    display: flex;

    h3{
        min-height: 100px;
        left: 0;
        padding-left:15px;
        width:75%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      font-size: 14px;
      color: #fff;
      font-family: open_sansregular;
      }
    .icon_{
      height: 47px;
      width: 47px;
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column;
      justify-content: center;
     // padding-left: 16%;
      margin-top: 35px;
    }
  }

  .recent_post_content-date{
    padding:10px;
    margin: 0px;
    background: white;
    display: inline-block;
    p{
      color: $blue;
      font-weight: bold;
      padding: 0 8px;
      margin: 0 0;
      font-size: 14px;

    }
  }

}

// ----------------- buttons --------------------//

.btn-blue{
  //position: relative;
  //top: 2vh;
  color: #fff;
  background-color: #63ccca;
  padding: 1px 2vw;
  border: none;
  border-radius: 15px;
 // width: 7vw;
  min-width: 100px;
  font-size: 16px;
  min-height: 37px;
  cursor: pointer;
}

.btn-gray{
  //position: relative;
  //top: 2vh;
  color: #fff;
  background-color: $gray !important;
  padding: 1px 2vw;
  border: none;
  border-radius: 15px;
  // width: 7vw;
  height: 2vw;
  min-width: 100px;
  min-height: 40px;
  cursor: pointer;
}

.grey-overlay{

  background: linear-gradient( rgba(67, 73, 85, .9), rgba(67, 73, 85, .9)), url("/wp-content/uploads/2018/09/Mask-Group-11.png") no-repeat center center;
  background-size: cover;
}

//------------ tarif     -----------------//
.tarif-clta{
  /*margin-right: 31%;
  margin-top: 92px;*/
  .wpb_wrapper{
    background: $gray;

    display: inline-block;

    padding: 0px 20px;
    padding-bottom: 20px;

  }
}

.tarif-clta2{
  .fa{
    padding: 20px;
    background: $blue;
  }
}

//------------ chmedy -------//
.imgs-chmedy{
  .vc_column-inner{
    padding: 0 !important;
    margin: 0 !important;
    .wpb_single_image{
      margin: 0 !important;
    }
    .vc_figure{
      width: 100%;
      height: auto;
      .vc_single_image-wrapper{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }

}
// ------------------ gray opacity -------//

.gray-100{
  background-color:rgba(67, 73, 85, 1) ;
}

.gray-75{
  background-color:rgba(67, 73, 85, .75) ;
}

.gray-50{
  background-color:rgba(67, 73, 85, .73) ;
}

.gray-25{
  background-color:rgba(67,73,85,.1) ;
}

.no-space{
 // margin-right: 0;
  //margin-left: 0;
}

// --------------- info lettre -----------------//
#mc4wp-form-1{

  width: 100%;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;
}

.mc4wp-form-fields{
  width: 260px;
}
.lettre-wrapper{
  width: 260px;
  position: relative;
  .mail{
    width: 100%;
  }
  .btn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 30px;
    width: 30px;
    background: $blue;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    i{
        color: #fff;
    }
  }
}

.blue15{
  background: rgba(99, 204, 202, .15);
  padding: 5% 5%;
}

.font-30{
  font-size: 28px;
}

.p5{
  padding-left: 5%;
  padding-right: 5%;
}

.t-white{
  p{
    color: #fff !important;
  }
  i{
    font-size: 33px;

    background: $blue;

    padding: 33px;

    margin-top: 91px;
  }

}

.width20{
  width:21%;
  max-width: 21%;
  padding-left: 20px !important;
}
.width80{
  width:79%;
  max-width: 79%;
}
.width80 .vc_row:first-child{
  margin-left: 0;
  margin-right: 0;
}
.overhidden{
  overflow: hidden;
}
.breadcrumbsourire{
  font-family: open_sansregular;
  font-size: 14px;
  word-spacing: 4px;
  color: #434955;
  a{
    color: #434955;
    text-decoration: none;
    font-family: open_sansregular;
    font-size: 14px;
  }
  .breadcrumb_last{
    font-weight: bold;

  }
  .vc_column-inner{
    padding-top:15px !important;
  }
}
.fullwidthimg, .fullwidthimg .vc_figure, .fullwidthimg .vc_figure .vc_single_image-wrapper, .fullwidthimg .vc_figure .vc_single_image-wrapper img{
  width: 100%;
}
.min-height480{
  min-height: 37vw !important;
}

/*********** blog page ********/
.blogPage{
   .list{
    .article{

      margin-bottom:40px;
      .entry-meta{
        width: 100%;
        float: left;
        margin-bottom: 20px;
        display: flex;
      }
    }
  }
  h2{
    font-family: open_sansregular;
    color:#434955;
    font-weight:300;
  }
  .img{
    img{
      width:100%
    }
  }
}
.blogPageSidebar{
  .articleSidebar{
    margin-bottom:20px;
    float:left;
    h3{
      line-height:1.1;
      color:#434955;
      margin-bottom:5px;
      font-family: open_sansregular;
      font-size: 14px;
    }
    p{
      margin:5px 0;
    }
    .vc_col-sm-4{
      padding-left:0;
    }
    .entry-meta{
      width: 100%;
      float: left;
      margin-bottom: 20px;
      display: flex;
    }
  }
  h2{
    padding:15px 0;
    margin-bottom:25px;
  }
}
.catSidebar{
    h2{
    border-bottom: 1px solid rgba(122, 110, 102, 0.3);
    border-top: 1px solid rgba(122, 110, 102, 0.3);
    padding:15px 0;
    line-height:1;
    font-family: open_sansregular;
    font-weight: 700;
    color: #7A6E66;
    font-size: 18px;
  }
  ul{
    padding: 0;
    list-style: none;
    li{
      a{
        color:#000;
        line-height:1;
        font-family: open_sansregular;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
      }
    }
  }
}
.searchSidebar{
  input.uk-width-1-1{
    border: 1px solid #7A6E66 !important;
    border-radius: 0 !important;
    background: transparent !important;
    height: 40px !important;
    line-height:1;
    font-family: open_sansregular;
    font-weight: 400;
    font-size: 16px;
    color: #7A6E66 !important;
    padding:0 10px !important;
    margin:0 0 10px 0 !important;
    cursor:pointer;
  }
  .uk-icon-search{
    width: 17% !important;
    font-size: 23px !important;
    position: absolute !important;
    left: calc(83%) !important;
    top: 8px !important;
    font-weight: 100 !important;
    color: #fff !important;
    background: #7A6E66 !important;
    height: 38px !important;
    padding: 5px 0;
    cursor: pointer;
  }
}

.dateArticle{
  position: relative;
  height: 0;
  .datecontent{
    background-color: #fff;
    color: #63CCCA;
    font-size: 20px;
    font-weight: 600;
    font-family: open_sansregular;
    display: inline-grid;
    padding: 10px;
  }
}
.titleArticle{
  float:left;
}
.author{
  color:#7A6E66 !important;
  font-size: 14px;
}
.except{
  margin-top:27px;
  margin-bottom:22px;
  line-height: normal;
}
.lireplus{
  margin-bottom:35px;
  a{
    color:#434955;
  }
}
.share{
  margin-left:20px;
  a{
    color:#434955;
    margin: 0 5px;
    svg{
      max-width:17px;
      height:auto;
    }
  }
}
.paginationBlog{
  .pagination{
    .nav-links{
      text-align:center;
      .page-numbers{
        font-family: open_sansregular;
        font-size:16px;
        padding:2px 8px;
        border-radius:50%;
        color: rgba(122, 110, 102, 0.36);
        &:hover{
          color: #7A6E66;
          border:1px solid #7A6E66;
        }
      }
      .page-numbers.current{
        color: #7A6E66;
        border:1px solid #7A6E66;
        cursor:pointer;
      }
      .next{
        display:none;
      }
      .prev{
        display:none;
      }
    }
  }
}
.single-post article{
  padding-bottom:25px;
  margin-bottom:35px;
}
.search, .archive{
  h1,h2{
    line-height:1.2;
  }
}
.catSidebar h2,.blogPageSidebar h2{
  border:none;
  color:#63CCCA ;
  font-family: open_sansregular;
  font-size: 18px;
  font-weight: bold;
}
.blogPageSidebar .articleSidebar{
  border: none;
  .vc_col-sm-4{
    padding-right:6px;
  }
  .vc_col-sm-8{
    padding-left: 5px;
  }
}
.single{
  .breadcrumbsourire{
    padding: 0 5%;
  }

  .vc_col-sm-4{
    padding-right: 5%;
  }
  header,.entry-content{
    width: 100%;
    float: left;
    padding-left: 5%;
    margin-left: -15px;
  }
  h1{
    font-size: 35px;
    padding:30px 0;
    color: #63CCCA;
    max-width: 70%;
  }
}


