// ----------------- NAV -------------------//

.nav-container{
  height: 100%;
  padding: 0 0 0 0;
  background: $gray;
  overflow: hidden;
}

.nav-side-menu {
  overflow-y: scroll;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;

  //position: fixed;
  height: 99%;
  width: 108%;
  //height: 100%;
  color: #e1ffff;

  .menu-list{
    padding-left: 10%;
  }
}
.nav-side-menu .brand {
  //background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 10%;
  padding-bottom: 10%;
  img{
    width: 90% !important;
  }

}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul {
  width: 100%;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  margin-left:0 ;
  padding-right: 3%;


  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  //padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-right: 3px solid #63CCCA;
  //background-color: #4f5b69;
}
.menu-item:hover{
  //border-right: 3px solid #63CCCA;
  //background:rgba(99, 204, 202,0.2);
}
.nav-side-menu ul li .sub-menu{
  padding-left: 5%;
  padding-right: 0px;
  li{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;

  }

  li:hover{
    border-bottom: 0.5px solid #63ccca !important;
    border-top: 0.5px solid #63ccca !important;
  }
  li:last-child{
    border-bottom: none;
  }
  li:first-child{
    border-top: 1px solid rgba(255,255,255,0.2);
  }
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: $gray;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-left: 5%;
  margin-right: 0 !important;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
 // background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  //content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0;
  //border-left: 3px solid #2e353d;
  border-bottom: 1px solid rgba(255,255,255,0.2);

}

.nav-side-menu li:last-child{
  border-bottom: none;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
}
.nav-side-menu li a:hover {
  text-decoration: none;
  color: #63CCCA;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-right: 5px solid #63CCCA;
  //background-color: #4f5b69;

  // -webkit-transition: all 1s ease;
  //-moz-transition: all 1s ease;
  //-o-transition: all 1s ease;
  //-ms-transition: all 1s ease;
  //transition: all 1s ease;
}
.nav-side-menu li:active {
  border-right: 5px solid #63CCCA;
  //background-color: #4f5b69;

  // -webkit-transition: all 1s ease;
  //-moz-transition: all 1s ease;
  //-o-transition: all 1s ease;
  //-ms-transition: all 1s ease;
  //transition: all 1s ease;
}
/*
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

*/

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

